.booking-image-container{
position: absolute;
bottom: 0;
object-fit: cover;
width: 100%;
height: 100%;
z-index: -1;
}

.background-image{
  width: 100%;
  height: 100%;
}

.booking-container{
  position: relative;
  width: 500px;
  height: 500px;
  margin: 100px auto;
  background: grey;

}

.booking-header{
text-align: center;
color: #ffff;
}

.booking-form{
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
}


.book-button2{
width: 60px;
height: 40px;
}
