.contact-container{
position: relative;
width: 500px;
height: 500px;
margin: 100px auto;
background: #e5dcdc;
}

.contact-header{
  // text-align: center;
  color: red;

}

.contact-icon{
width: 30px;
height: 30px;
}

.contact-info{
  float: right;

}

.map{
  float: right;
}
