.banner-image{
  width: 100%;
  height: auto;
  // position: absolute;
  // z-index: -1;
  // bottom: 0;
  object-fit: cover;
}

.banner-image-container{
  width: 100%;
  height: 100%;
}

.about-container{
  position: relative;
  width: 500px;
  height: 500px;
  margin: 100px auto;
  background: #e5dcdc;
}

.Welcome-header{
  text-align: center;
  color: #ed1c24;
}

.book-button-container{

}

.book-button{
border: 1px;
text-align: center;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
font-size: 50px;
font-weight: bold;
border-radius: 4px;
}


.book-button:hover {
color: #e5dcdc;
}
